.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Club-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Match-body {
  min-width: 80vw;
  max-width: 80vw;
  min-height: 80vh;
  display: flex;
	flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
	justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  display: flex;
	justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Test {
  margin-top: 30px;
}
.smile {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.days{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.days > * {
  padding-right: 50px;
  padding-left: 50px;
}
